fastapi
uvicorn
streamlit

langchain
langgraph
langchain-community
langchain-google-genai

google-generativeai

qdrant-client

rank-bm25

sentence-transformers

fastembed

pymupdf

beautifulsoup4

lxml

python-dotenv

loguru

pytest

httpx

numpy

pandas

tqdm